/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey", system-ui;
}

img {
    width: 100px;
}

.stuff-to-do {
    display: flex;
    justify-content: space-between;
}

.activities {
    width: 200px;
}

.hero {
    background-image: url("images/cathedral-city.webp");
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    background-color: #F4A261;
}

.hero h2 {
    background-color: #F4A261;
}

.guide {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #A8DADC;
    padding: 20px;
}

.activities-section {
    background-color: #F6D7A7;
}

.activities img {
    border-radius: 50%;
    height: 100px;
}

.activities-section h3 {
    margin-top: 0;
}

.activities img:hover {
    transform: scale(1.3);
}

.visit {
    background-color: #B7C9A8;
    padding: 10px;
}
